@if (!hideGamingCrossSellByArc) {
    <a (click)="onBannerClick()" class="banner-content ms-active-highlight">
        @if (!showThemeIcon) {
            <img class="banner-image" [src]="model.imageUrl" />
        }
        @if (showThemeIcon) {
            <span class="banner-theme-icon" [ngClass]="model.themeIcon"></span>
        }
        <div class="banner-info">
            <div class="banner-title">{{ model.title }}</div>
            <div class="banner-text">{{ model.text }}</div>
        </div>
        @if (showLearnMoreButton && model.link?.link) {
            <button ds-button kind="tertiary" variant="outline" size="medium">{{ model.link.link }}</button>
        } @else {
            <vn-icon name="theme-right" class="banner-theme-right" size="13"></vn-icon>
        }
    </a>
}
